	*{
	    margin: 0;
	    padding: 0;
	}
	
	a{
	    color: #ad2424;
	}
	
	body{
	    font-family: "Lucida Sans", Arial, Helvetica, sans-serif;
	    font-size: 14px;
	    line-height: 1.6em;
	}
	#container{
	    width: 700px;
	    margin: 0 auto;
	    overflow: hidden;
	}
	      
	header{      
	    border-bottom: 1px solid #e2e2e2;
	    display: block;
	    padding-bottom: 20px;
	    margin-top: 20px;          
	}
      
  #container h1{
      color: #ad2424;
  }
  
  #content{
      padding: 20px 0px;    
  }
  
  #content dt{
      border: 1px dotted #ad2424;
      margin-bottom: 10px;
      padding: 10px;
      background-image: url('desce.jpg');
      background-repeat: no-repeat;
      background-position: 99%;
      cursor: pointer;
  }
  
  #content dt.ativo{
      background-color: #AD2424;
      color: #FFF;
      background-image: url('sobe.jpg');
      
  }
  
  #content dd{
     margin-bottom: 10px;
     border: 1px solid #e2e2e2;
     padding: 10px;         
     clear: both;
     overflow: hidden;
    
  }
  
  #content dd h3{
    margin: 15px 0px;
    font-size: 20px;        
  }
  
  #content dd pre{
      background-color: #e6e6e6;
      border: 1px solid #d2d2d2;
      color: #000;          
      padding: 0px 10px;
  }

  footer{
      display: block;
      padding-bottom: 20px;
      overflow: hidden;          
  }    
  
  
  footer #left{
      float: left;
  }
  
  footer #right{
      float: right;
  }